/*** MEYER RESET v1.0 ***/
html, body, div, span, form, applet, object, iframe, h1,h2,h3,h4,h5,h6, blockquote,pre, a,abbr,acronym,address, big,cite,code, del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,p	{margin:0px; padding:0px; border:0px; outline:0; font-size:100%; vertical-align:baseline; }
body{line-height:1}
label { float:left; padding-right:4px; }
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
ul li { list-style:none; }

/*** BASIC TYPOGRAPHY ***/
html { font-size: 13px; font-family:Arial, "Liberation Sans", Helvetica, sans-serif; }
strong, th, thead td, h1, h2, h3, h4, h5, h6 { font-weight: bold; }
cite, em, dfn { font-style: italic; }
code, kbd, samp, pre, tt, var, input[type='text'], input[type='password'], textarea { font-size:1.0em;color:#383838;  }
del { text-decoration: line-through; color: #666; }
ins, dfn { border-bottom: 1px solid #ccc; }
small, sup, sub { font-size: 85%; }
abbr, acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }
a abbr, a acronym { border: none; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px solid #ccc; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
input.bold { font-weight: bold !important }

/*** QUOTES ***/
blockquote { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; color: #666; }
blockquote *:first-child:before { content: "\201C"; }
blockquote *:first-child:after { content: "\201D"; }

/*** FORMS ***/
fieldset { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend { font-weight: bold; font-size:1.2em; }

/*** BASE SIZES ***/
.container { font-size: 1.2em; line-height: 1.6em; }
h1 { font-size: 1.9em; }
/*h2 { font-size: 1.7em; }*/
/*h3 { font-size: 1.5em; }*/
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

/*** MARGINS & PADDINGS ***/
blockquote *:first-child { margin: .8em 0; }

/*** NOTE: Calulate header margins: TOP: 1.6em/size, BOTTOM: 1.6em/size/2 ***/
h1 { margin: 1em 0 .5em;  }
/*h2 { margin: 1.07em 0 .535em; }*/
/*h3 { margin: 1.14em 0 .57em; }*/
h4 { margin: 1.23em 0 .615em; }
h5 { margin: 1.33em 0 .67em; }
h6 { margin: 1.6em 0 .8em; }
/*th, td { padding: .8em; }*/
caption { padding-bottom: .8em; } /*** padding instead of margin for IE ***/
blockquote { padding: 0 1em; margin: 1.6em 0; }
fieldset { padding: 0 1em 1em 1em; margin: 1.6em 0; } /*** padding-top is margin-top for fieldsets in Opera ***/
legend { padding-left: .8em; padding-right: .8em; }
legend+* { margin-top: 1em; } /*** compensates for the opera margin bug ***/
textarea, input { padding: 3px 2px 2px 2px;}
select { padding: .1em .2em 0 .2em; }
option { padding: 0 .4em; }

/*a { position: relative;}*/ 
/*** for larger click-area ***/
 
ol { margin-left: 2.35em; }
ol ol, ul ol { margin-left: 2.5em; }
 
/*** COLORS ***/
a:link { text-decoration: none; color: #2B79B3; }
a:visited { text-decoration: none; color: #2B79B3; }
a:hover { text-decoration: none; color: #2B79B3; }
a:active, a:focus { text-decoration: none; color: #2B79B3; }
code, pre { color: #2B79B3; } 

/* ================ */
/* = The 1Kb Grid = */     /* 14 columns, 60 pixels each, with 10 pixel gutter */
/* ================ */
.grid_1 { width:60px; }
.grid_1_1 { width:30px; }
.grid_15 { width:110px; }
.grid_2 { width:130px; }
.grid_25 { width:160px; }
.grid_3 { width:200px; }
.grid_31 { width:290px; }
.grid_4 { width:270px; }
.grid_41 { width:262px; }
.grid_5 { width:340px; }
.grid_51 { width:390px; }
.grid_6 { width:410px; }
.grid_7 { width:480px; }
.grid_8 { width:550px; }
.grid_88 { width:590px; }
.grid_9 { width:620px; }
.grid_10 { width:690px; }
.grid_11 { width:760px; }
.grid_12 { width:830px; }
.grid_13 { width:900px; }
.grid_14 { width:970px;  }
.column{margin: 0 3px; /*overflow: hidden;*/ float: left;display: inline; }
.row{width: 1021px;margin: 0 auto;overflow: hidden;padding-bottom:2px;clear:both;}
.row_withoutbg{width: 980px;margin: 0 auto;overflow: hidden;clear:both;}
.row .row{margin: 0 -5px;width: auto;display: inline-block;}


